<nav>
  <ul>
    <% if(locals.currentUser) { %>
    <li><a href="/">Stats</a></li>

    <li><a href="/stations">Stations</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/rounds">Game rounds</a></li>
    <li>
      <form method="GET" action="/logout">
        <input type="submit" value="Sign out" />
      </form>
    </li>

    <% } else { %>
    <li id="signin"><a href="/login">Admin Login</a></li>

    <% } %>
  </ul>
</nav>
